@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

body {
  background: #f2f2f2;
  color: #444;
  margin: 0;
}
body * {
  font-family: "Poppins";
}

header{
  font-weight: 300;
  font-style: italic;
}

/* nav filter */
.filter button{
  border-radius: 20px;
  
}
.new-task-form{
  max-width: 640px;
  margin: 20px auto;
}
/* task list */
.task-list {
  max-width: 640px;
  margin: 0px auto;
}
.task {
  padding: 2px 20px;
  background: #fff;
  margin-top: 5px;
  border-radius: 0px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.4s;
}

.task:hover{
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.task h3, .task .icons {
  display: inline-block;
}
.task h3{
  flex-grow: 2;
  margin-left: 8px;
}
.task .o-right {
  text-align: right;
}
.task .o-left {
  text-align: left;
}
.task i {
  font-size: 1.4em;
  margin-left: 6px;
  cursor: pointer;
  color: #bbb;
}